

html,body,.container {
  height:100%;
}
.container {
  display:table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;

}

.row {
  height: 100%;
  display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}

footer{
  text-align: center;
}
/*
@media (max-width: 340px) { 
li{font-size: 8px;}
}
@media (min-width: 341px) and (max-width: 767px) { 
li{font-size: 10px;}
}
@media (min-width: 768px) and  { 
li{font-size: 12px;}
}*/

.input_shrink{
  width: 80%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.dark{
  background: rgb(43, 42, 42);
  color: white;
}
#map {
  height: 90%;
}