html,body {
  height:100%;
}

.container-fluid {
  /*display:table;*/ 
  width: 100%; 
  box-sizing: border-box;
  height: 100%;
}

.row {
  display: table-cell;
  float: none;
  height: 80%;
}

footer{
  text-align: center;
}

.input_shrink{
  /*width: 80%;*/
  margin: 1.5em;
}

ul {
  list-style-type: none;
  border: 1.5em;  
}

li{
  padding: 1.5em 0em 0.5em 0em;  
}

#pano {
  width: 40%;
  min-width: 15em;
  height: 40%;
  min-height: 15em;
}

#map {
  height: 100%;
}

h1 {
  text-align: center;
}