

html,body,.container {
  height:100%;
}
.container {
  display:table;
  width: 100%;  
  box-sizing: border-box;
}

.row {
  height: 100%;
  
}

.row .no-float {
  display: table-cell;
  float: none;
}

footer{
  text-align: center;
}

.input_shrink{
  width: 80%;
}

ul {
  list-style-type: none;
  padding: 0.5em;  
}

li{
  padding: 1em 0em 0.5em 0em;  
}
#pano {
  width: 40%;
  min-width: 15em;
  height: 40%;
  min-height: 15em;
}



#map {
  height: 90%;
}